## Copyright (C) 2012 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Exec=systemcheck
Name=System Check
GenericName=System Check
Comment=Check System Security Status
Categories=System
Icon=/usr/share/icons/icon-pack-dist/whonix.png
Keywords=Whonix;system;check
