## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=census
Documentation=https://www.whonix.org/wiki/Census

ConditionPathExists=!/run/qubes/this-is-templatevm

After=network.target
Wants=network.target

After=rinetd.service
After=tor.service
After=tor@default.service
After=onion-grater.service
After=whonix-firewall.service

[Service]
Type=notify

User=census
Group=census

ExecStart=/usr/lib/systemcheck/census-daemon
SuccessExitStatus=143
TimeoutSec=30
## /usr/lib/systemcheck/census-daemon uses `sleep 3600`
## /usr/lib/systemcheck/census uses `curl` with `--max-time 180`
WatchdogSec=4000
NotifyAccess=all
Restart=always

## Hardening.
## https://forums.whonix.org/t/apply-systemd-sandboxing-by-default-to-some-services/7590/31
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/var/lib/census
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
PrivateMounts=true
PrivateDevices=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET
## TODO
#SystemCallFilter=

[Install]
WantedBy=multi-user.target
