## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=census
Documentation=https://www.whonix.org/wiki/Census

After=network.target
Wants=network.target

After=rinetd.service
After=tor.service
After=tor@default.service
After=onion-grater.service
After=whonix-firewall.service

[Service]
Type=notify

User=systemcheck
Group=systemcheck

## TODO: Consider running under sandbox-app-launcher.
## sudo sandbox-app-launcher run census
## xsettingsd: Loaded 17 settings from /home/sandbox-app-launcher-appdata/census/.xsettingsd
## xsettingsd: Created window 0xa00001 on screen 0 with timestamp 20763163
## xsettingsd: Selection _XSETTINGS_S0 is owned by 0x0
## xsettingsd: Took ownership of selection _XSETTINGS_S0
#User=sal-census
#Group=sal-census
#ExecStartPre=+sandbox-app-launcher setup census

ExecStart=/usr/lib/systemcheck/census-daemon
SuccessExitStatus=143
TimeoutSec=30
## /usr/lib/systemcheck/census-daemon uses `sleep 3600`
## /usr/lib/systemcheck/census uses `curl` with `--max-time 180`
WatchdogSec=4000
NotifyAccess=all
Restart=always

## Hardening.
## https://forums.whonix.org/t/apply-systemd-sandboxing-by-default-to-some-services/7590/31
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
PrivateMounts=true
PrivateDevices=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET
## TODO
#SystemCallFilter=

[Install]
WantedBy=multi-user.target
