<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: no
     SPDX-License-Identifier: CC0-1.0
-->
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

 <vendor>systemcheck</vendor>
 <vendor_url>https://www.kicksecure.com</vendor_url>

 <action id="com.kicksecure.systemcheck.policy.pkexec-test.run">
    <description>pkexec test run</description>
    <message>Authentication is required to run the pkexec test</message>
    <icon_name>drive-harddisk</icon_name>
    <defaults>
     <allow_any>yes</allow_any>
     <allow_inactive>yes</allow_inactive>
     <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/systemcheck/pkexec-test</annotate>
 </action>
</policyconfig>
