## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: whonixcheck
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile, dh-systemd, ruby-ronn, dh-apparmor
Homepage: https://www.whonix.org/wiki/whonixcheck
Vcs-Browser: https://github.com/Whonix/whonixcheck
Vcs-Git: https://github.com/Whonix/whonixcheck.git
Standards-Version: 3.9.8

Package: whonixcheck
Architecture: all
Depends: anon-gw-base-files | anon-ws-base-files, anon-base-files, curl,
 curl-scripts, ca-certificates, msgcollector, virt-what, psmisc, sudo, vrms,
 gpg-bash-lib, bsdtar, anon-shared-helper-scripts, net-tools, systemd,
 security-misc, ${misc:Depends}
Replaces: apparmor-profile-whonixcheck
Recommends: anon-icon-pack
Description: Anonymity and security check
 Checks many important aspects of Whonix for better security.
 .
 Only checks things. Does not change things.
 .
 Safe to remove.
