## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: systemcheck
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13.11.6), debhelper-compat (= 13), dh-apparmor
Homepage: https://www.kicksecure.com/wiki/systemcheck
Vcs-Browser: https://github.com/Kicksecure/systemcheck
Vcs-Git: https://github.com/Kicksecure/systemcheck.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: systemcheck
Architecture: all
Depends: dist-base-files, python3, signify-openbsd, curl,
 ca-certificates, msgcollector, psmisc, sudo, vrms,
 libarchive-tools, helper-scripts, net-tools, systemd, adduser,
 security-misc, spectre-meltdown-checker,
 apparmor-profile-dist, ${misc:Depends}
Replaces: apparmor-profile-whonixcheck, whonixcheck
Conflicts: apparmor-profile-whonixcheck, whonixcheck
Recommends: icon-pack-dist
Description: Anonymity and security check
 Checks many important aspects for better security.
 .
 Only checks things. Does not change things.
 .
 Safe to remove.
