## Copyright (C) 2025 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=System health checker (user service)

[Service]
Type=exec
ExecStart=systemcheck --autostart
RemainAfterExit=true
