## Copyright (C) 2020 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Name=Distribution Deprecation Boot Popup
Comment=dismissible popup
Type=Application
Terminal=false
Exec=/usr/libexec/systemcheck/deprecation-popup
#NotShowIn=QUBES;
